Repository CorLont/CryptoSmartTraderv2, changes with the owners that CODEOWNERS names for each.
All owners: @clont1, @security-team, @devops-team, @trading-team, @ml-team, @risk-team, @exchange-team, @api-team, @data-team, @sre-team, @qa-team, @docs-team, @legal-team, @release-team, @backup-team, @performance-team, @quant-team, @incident-team

CODEOWNERS:

# Global code ownership and review requirements for CryptoSmartTrader V2
# CODEOWNERS file defines individuals or teams that are responsible for code in a repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback - requires approval from primary maintainer
* @clont1

# Security-critical files - require security team approval
SECURITY.md @clont1 @security-team
.github/workflows/security.yml @clont1 @security-team
src/cryptosmarttrader/core/security/ @clont1 @security-team

# Infrastructure and deployment - require DevOps approval
Dockerfile @clont1 @devops-team
docker-compose.yml @clont1 @devops-team
k8s/ @clont1 @devops-team
.github/workflows/ @clont1 @devops-team

# Configuration files - require careful review
*.env.example @clont1
*.env.template @clont1
config/ @clont1
pyproject.toml @clont1
requirements*.txt @clont1

# Core trading logic - require lead developer and trading team approval
src/cryptosmarttrader/core/ @clont1 @trading-team
src/cryptosmarttrader/trading/ @clont1 @trading-team
src/cryptosmarttrader/agents/ @clont1 @trading-team

# ML and data science components - require ML team approval
src/cryptosmarttrader/ml/ @clont1 @ml-team
src/cryptosmarttrader/models/ @clont1 @ml-team
models/ @clont1 @ml-team

# Risk management - require risk team approval
src/cryptosmarttrader/risk/ @clont1 @risk-team
src/cryptosmarttrader/core/risk_guard.py @clont1 @risk-team

# Exchange integrations - require exchange specialists
src/cryptosmarttrader/exchanges/ @clont1 @exchange-team
src/cryptosmarttrader/integrations/ @clont1 @exchange-team

# API and interfaces - require API team approval
src/cryptosmarttrader/api/ @clont1 @api-team
api/ @clont1 @api-team

# Database and data management - require data team approval
src/cryptosmarttrader/data/ @clont1 @data-team
migrations/ @clont1 @data-team

# Monitoring and observability - require SRE approval
src/cryptosmarttrader/monitoring/ @clont1 @sre-team
metrics/ @clont1 @sre-team
src/cryptosmarttrader/core/metrics_collector.py @clont1 @sre-team

# Testing infrastructure - require QA approval
tests/ @clont1 @qa-team
pytest.ini @clont1 @qa-team
.github/workflows/test.yml @clont1 @qa-team

# Documentation - require tech writers approval
docs/ @clont1 @docs-team
README*.md @clont1 @docs-team
*.md @clont1

# Legal and compliance - require legal approval
LICENSE @clont1 @legal-team
TERMS.md @clont1 @legal-team
PRIVACY.md @clont1 @legal-team

# Release and versioning - require release manager approval
CHANGELOG.md @clont1 @release-team
VERSION @clont1 @release-team
.github/workflows/release.yml @clont1 @release-team

# Backup and recovery - require backup team approval
backups/ @clont1 @backup-team
scripts/backup/ @clont1 @backup-team

# Performance critical paths - require performance team approval
src/cryptosmarttrader/core/execution_engine.py @clont1 @performance-team
src/cryptosmarttrader/optimization/ @clont1 @performance-team

# Financial calculations - require quantitative finance approval
src/cryptosmarttrader/quant/ @clont1 @quant-team
src/cryptosmarttrader/portfolio/ @clont1 @quant-team

# Emergency response and incident management
INCIDENT_RESPONSE.md @clont1 @incident-team
scripts/emergency/ @clont1 @incident-team

Enhance project documentation and API access for improved usability
  CHANGELOG.md
  README_OPERATIONS.md
  README_QUICK_START.md
  docs/api_examples.py
  docs/postman_collection.json
  replit.md
  src/cryptosmarttrader/api/main.py
Owners: @clont1, @release-team, @docs-team, @api-team

Implement complete go-live deployment system with staging and canary phases
  deployment_history.json
  go_live_results_golive_1755082421.json
  replit.md
  scripts/run_go_live_sequence.py
  src/cryptosmarttrader/api/main.py
  src/cryptosmarttrader/api/routers/deployment.py
  src/cryptosmarttrader/api/routers/market.py
  src/cryptosmarttrader/deployment/go_live_system.py
Owners: @clont1, @api-team

Refine project description for clarity and conciseness
  replit.md
Owners: @clont1

Update project documentation to include monitoring tools
  replit.md
Owners: @clont1

Improve clarity and detail in project overview and dependencies
  replit.md
Owners: @clont1

Update project overview to include business vision statement
  replit.md
Owners: @clont1

Update project description and deployment system details
  replit.md
Owners: @clont1

Enhance project's automation and security with updated CI/CD workflows
  replit.md
  technical_review/.github/CODEOWNERS
  technical_review/.github/PULL_REQUEST_TEMPLATE.md
  technical_review/.github/dependabot.yml
  technical_review/.github/pull_request_template.md
  technical_review/.github/workflows/branch-protection.yml
  technical_review/.github/workflows/ci-cd.yml
  technical_review/.github/workflows/ci.yml
  technical_review/.github/workflows/release.yml
  technical_review/.github/workflows/security.yml
  technical_review/TECHNICAL_REVIEW_README.md
Owners: @clont1

Update monitoring documentation to reflect Prometheus usage
  replit.md
Owners: @clont1

Improve error handling and add retries for network operations
  agents/arbitrage_detector_agent.py
  agents/funding_rate_monitor.py
  api/health_endpoint.py
  app_fixed_all_issues.py
  core/data_manager.py
  core/http_client.py
  ml/calibration/probability_calibrator.py
  ml/features/build_features.py
  ml/features/temporal_feature_engineering.py
  ml/futures_signals.py
  ml/regime_router.py
  replit.md
  start_agents.py
  start_multi_service.py
  utils/alerts.py
  utils/metrics.py
  utils/system_optimizer.py
  utils/timestamp_synchronizer.py
Owners: @clont1, @api-team

Created a checkpoint
  core/prometheus_metrics.py
  core/risk_guard.py
  metrics/metrics_server.py
  replit.md
  src/cryptosmarttrader/__main__.py
  src/cryptosmarttrader/core/execution_policy.py
  src/cryptosmarttrader/core/execution_policy_original.py
  src/cryptosmarttrader/execution/__init__.py
  src/cryptosmarttrader/execution/execution_policy.py
  src/cryptosmarttrader/observability/metrics.py
  src/cryptosmarttrader/testing/simulation_tester.py
Owners: @clont1, @sre-team, @trading-team

Improve project overview to emphasize core purpose and capabilities
  replit.md
Owners: @clont1

Centralize core system logic and eliminate redundant implementations
  core/prometheus_metrics.py
  core/prometheus_metrics_original.py
  core/risk_guard_original.py
  replit.md
  src/cryptosmarttrader/__init__.py
  src/cryptosmarttrader/core/prometheus_metrics.py
  src/cryptosmarttrader/core/prometheus_metrics_original.py
  src/cryptosmarttrader/core/risk_guard.py
  src/cryptosmarttrader/core/risk_guard_original.py
  src/cryptosmarttrader/observability/prometheus_metrics.py
  src/cryptosmarttrader/risk/__init__.py
  src/cryptosmarttrader/risk/risk_guard.py
  src/cryptosmarttrader/testing/simulation_tester.py
Owners: @clont1, @trading-team, @risk-team

Improve project overview for clarity and conciseness
  replit.md
Owners: @clont1

Consolidate duplicate code for better organization and reliability
  core/prometheus_metrics.py
  replit.md
  src/cryptosmarttrader/core/prometheus_metrics.py
Owners: @clont1, @trading-team

Improve system stability by centralizing duplicated logic and metrics
  replit.md
Owners: @clont1

Improve project overview to clarify its purpose and goals
  replit.md
Owners: @clont1

Consolidate duplicate systems for better code consistency
  replit.md
Owners: @clont1

Refine monitoring setup by centralizing metrics
  replit.md
Owners: @clont1

Align monitoring tools and consolidate risk management logic
  replit.md
Owners: @clont1

Refine project overview for clarity and conciseness
  replit.md
Owners: @clont1

Consolidate code to prevent duplicate implementations and improve clarity
  replit.md
Owners: @clont1

Improve system monitoring by centralizing metrics
  replit.md
Owners: @clont1

Improve system consistency by removing duplicate implementations
  replit.md
Owners: @clont1

Refine project overview to emphasize market leadership
  replit.md
Owners: @clont1

Implement live data validation and consolidate core components Refactor to consolidate risk and execution policies, centralize metrics, and introduce a live data validator.
  live_data_validator.py
  replit.md
Owners: @clont1

Enhance trading strategy confidence and position sizing for higher returns
  agents/ensemble_voting_agent.py
  ml/ensemble_optimizer.py
  replit.md
Owners: @clont1

Strengthen safety systems by centralizing risk and execution logic
  quick_risk_test.py
  replit.md
  test_risk_management.py
Owners: @clont1

Centralize core system implementations and metrics for consistency
  deployments/golive_1755089981.json
  go_live_deployment.py
  go_live_results_golive_1755090005.json
  production_readiness_20250813_125959.json
  production_readiness_checker.py
  replit.md
Owners: @clont1

Improve system monitoring and alerting for trading operations
  replit.md
  src/cryptosmarttrader/api/health_endpoint.py
  src/cryptosmarttrader/observability/unified_metrics.py
Owners: @clont1, @api-team

Improve platform observability and metric consistency
  replit.md
Owners: @clont1

Enhance system stability and testability with code cleanup and testing configuration
  demo_scripts/demo_alpha_portfolio_system.py
  demo_scripts/demo_backtest_live_parity.py
  demo_scripts/demo_execution_system.py
  demo_scripts/demo_fase2_guardrails.py
  demo_scripts/demo_fase3_alpha_parity.py
  demo_scripts/demo_integrated_regime_kelly_system.py
  demo_scripts/demo_ml_model_registry.py
  demo_scripts/demo_observability_system.py
  demo_scripts/demo_regime_detection.py
  demo_scripts/demo_risk_management.py
  demo_scripts/demo_security_compliance.py
  pytest.ini
  replit.md
  tests/conftest.py
  tests/unit/test_simple_components.py
Owners: @clont1, @qa-team

Integrate trading components for improved data discipline and efficiency
  replit.md
  src/cryptosmarttrader/core/data_flow_orchestrator.py
  src/cryptosmarttrader/core/integrated_trading_engine.py
Owners: @clont1, @trading-team

Update project overview and risk management details
  replit.md
Owners: @clont1

Integrate order execution into a central pipeline for enhanced control
  replit.md
  src/cryptosmarttrader/core/integrated_trading_engine.py
  src/cryptosmarttrader/execution/order_pipeline.py
Owners: @clont1, @trading-team

Update project overview to emphasize financial return generation
  replit.md
Owners: @clont1

Enforce all order execution policies through a centralized pipeline
  HARD_WIREUP_COMPLETION_REPORT.md
  src/cryptosmarttrader/execution/order_pipeline.py
Owners: @clont1

Strengthen trading rules for order execution
  replit.md
Owners: @clont1

Add robust risk controls for all trading operations
  CENTRALIZED_RISK_GUARD_COMPLETION_REPORT.md
  data/centralized_risk_guard/kill_switch_state.json
  replit.md
  src/cryptosmarttrader/core/integrated_trading_engine.py
  src/cryptosmarttrader/risk/centralized_risk_guard.py
Owners: @clont1, @trading-team, @risk-team

Improve system documentation for trading platform overview
  replit.md
Owners: @clont1
